eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
spring:
  cloud:
    config:
      overrideSystemProperties: false

management:
  tracing:
    sampling:
      probability: 1.0
